:root {
  --primary-bg-color: coral;
  --secondary-text-color: coral;
  --secondary-bg-color: coral;
  --tertiary-bg-color: coral;

  --primary-text-color: white;
}

@import url('https://fonts.googleapis.com/css?family=Oswald:400|Thasadith');

@import './mixins';
@import './structure';
@import './header';
@import './utility';
@import './banner';
@import './navbar';
@import './product-highlights';

body {
  font-family: 'Oswald', sans-serif;
  background-color: var(--mode-bg-color);
  color: var(--mode-text-color);
  padding: 0;
  margin: 0;
}

a {
  color: var(--link-color);
}
p {
  font-family: 'Thasadith', sans-serif;
}

input[type="color"] {
  width: 100%;
  height: 40px;
}

.color-scheme {
  ul {
    list-style: none;
    padding: 0;
  }

  li {
    transition: all 0.4s ease;
    width: 100%;
    height: 40px;
  }

  li:nth-child(1) {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
  }
  li:nth-child(2) {
    background-color: var(--secondary-bg-color);
    color: var(--secondary-text-color);
  }
  li:nth-child(3) {
    background-color: var(--tertiary-bg-color);
    color: var(--tertiary-text-color);
  }
  li:nth-child(4) {
    background-color: var(--quaternary-bg-color);
    color: var(--quaternary-text-color);
  }
}


.controls {
  font-family: 'Thasadith', sans-serif;
  flex-direction: column;
  position: fixed;
  height: 100%;
  width: 250px;
  right: 0;
  top: 0;
  z-index: 900;
  background: #282828;
  color: #fff;
  display: flex;

  label {
    display: block;
  }

  fieldset {
    display: block;
    padding: 20px 15px;
    border: 1px solid #131618;
    margin: 10px;
  }

  legend {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    padding: 0 10px;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;
  }

  &__buttons {
    flex-direction: row;
  }

  button {
    background: transparent;
    color: white;
    appearance: none;
    font-size: 1.2rem;
    padding: 0.5rem 1.2rem;

    &:active,
    &:focus {
      outline: 1px dashed white;
      outline-offset: -5px;
    }

    &.-is-selected {
      background: white;
      color: black;

      &:active,
      &:focus {
        outline: 1px dashed black;
        outline-offset: -5px;
      }
    }
  }
}
